<section id="page-breadcrumb" *ngIf='camp'>
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">{{camp.name}}</h1>
                    </div>                                                                                
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog-details" class="padding-top" *ngIf='camp'>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                     <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-content overflow">
                                <p [innerHTML]='camp.content'></p>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="#"><i class="fa fa-tag"></i>{{bgCategoryWords[camp.category]}}</a></li>
                                        <li><a href="#"><i class="fa fa-child"></i>{{bgAges[camp.ageGroup]}}</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i>{{camp.timePeriod}}</a></li>
                                    </ul>
                                </div>
                                    <i class='fa fa-facebook-official fa-3x'></i>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item categories">
                        <h3>Категории</h3>
                        <ul class="nav navbar-stacked" *ngIf='camp'>
                            <li class="active"><a href="#">Всички лагери<span class="pull-right">XXX</span></a></li>
                            <li><a href="#">Еднодневни маршрути<span class="pull-right">(8)</span></a></li>
                            <li><a href="#">Детски лагери<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Екскурзионни летувания<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Поръчкови лагери<span class="pull-right">(3)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item tag-cloud">
                        <h3>Възрастови групи</h3>
                        <ul class="nav nav-pills">
                            <li><a href="#">6-12г.</a></li>
                            <li><a href="#">9-14г.</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item popular">
                        <h3>Latest Photos</h3>
                        <ul class="gallery">
                            <li><a href="#"><img src="../../assets/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/images/portfolio/popular1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->