<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngFor='let camp of camps' class="col-md-3 col-sm-6 blog-padding-right">
                <div class="single-blog two-column">
                    <div class="post-thumb">
                        <a href="blogdetails.html"><img src="{{camp.imageUrl}}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="post-content overflow">
                        <h2 class="post-title bold"><a href="blogdetails.html">{{camp.name}}</a></h2>
                        <p>{{camp.shortDescription}}</p>
                        ID: {{camp._id}}
                    </div>
                    <a class='btn btn-default' routerLink='/admin/camp/edit/{{camp._id}}'>Edit</a>
                    <button class='btn btn-danger' (click)='deleteCamp(camp._id)'>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>