
<section id="page-breadcrumb">
    <div class="vertical-center sun">
          <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form #loginForm='ngForm' class='col-md-6 col-md-offset-3' (submit)='login()'>
  <div class="form-group">
    <label for="email">Username</label>
    <input type="text" class="form-control" id="username" name='username' #username='ngModel' [(ngModel)]='user.username' required />
    <span [hidden]='username.valid || username.pristine'>Username is required!</span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name='password' #password='ngModel' [(ngModel)]='user.password' required />
    <span [hidden]='password.valid || password.pristine'>Password is required!</span>
  </div>

  <button type="submit" class="btn btn-success" [disabled]='!loginForm.form.valid' >Submit</button>

</form>
